{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="container">
  <h1>The Writer's Workshop</h1>

  <p>Wordnet methods that I have found helpful in my own writing.</p>
  <p>If you're interested in contributing your own code or ideas please visit: <a href="https://github.com/rcullito/thewritersworkshop">https://github.com/rcullito/thewritersworkshop</a></p>

  <h3>1. Beyond Synonyms</h3>
  <form action="/" method="post">
      {% csrf_token %}
      {{ form }}
      <input type="submit" value="Search" />
  </form>


  {% for definition in definitions  %}
      <li>{{ definition }}</li>
  {% endfor %}

</div>
{% endblock %}
